<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<div class="navbar">
  <div class="about">ABOUT</div>
  <div class="site-title">CAP TION B ¿</div>
  <i id="ig" class="fab fa-instagram"></i>
  <i id="yt" class="fab fa-youtube"></i>
</div>
<!--   <div class="navbar-case"> -->
<!--     <a class="logo-case" href="/"></a> -->
<!--       <div class="nav-case">
      <div class="nav">
        <a class="sample-link" href="/link" target="_blank">
          Link
        </a>
      </div>
      </div> -->
<!--   </div> -->
